* {box-sizing: border-box;}

main {height: 99.5vh ;
  width: 99.5vw;
}

section {
  margin: 0 auto;
  width: 50%;
  overflow: auto;
  text-align: center;
  background-color: #f2f3f7;
}

.firsttwolines {padding: 15px 55px;
}

.lastthrelines {padding: 15px 193px;
margin-top: 20px;
}
::placeholder { text-align: left; }

.Terms-of-Use-and-Privacy-Policy-links {text-decoration: none;
color: green }